@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --color-bg-primary: #4d41c0;
  --color-bg-secondary: #e8e8e8;
  --color-bg-tertiary: #fff;
  --color-text-primary: #fff;
  --color-text-secondary: #4a4a4a;
  --color-text-tertiary: #aaa;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  background-color: var(--color-bg-secondary);
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}
